<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/head %>
        <script src="js/pages/index.js"></script>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <br>
        <button id="btnNewPost" onclick="newPost()" data-user="">Create new post</button>
        <ul class="posts-list">
            <% posts.reverse().forEach(function(post){%>
            <li>
                <div class="post-box">
                    <h4 id="user-name">
                        <%= post.userName %>
                    </h4>           
                    <div class="post-body">
                        <h3 id="postTitle">
                            <%= post.title %>
                        </h3>
                        <p id="post">
                            <%= post.text %>
                        </p>
                    </div>
                    <h6 id="post-time">
                        <%= post.createdAt %>
                    </h6>
                    <div class="post-footer">
                        <button  onclick="newPost('<%= post._id%>')" >Leave a comment</button>
                        <button  onclick="seeComment('<%= post._id%>')" >See comments</button>
                    </div>
                </div>
            </li>
            <% });%>
        </ul>
 
    </body>

    <footer>
        <% include ../partials/footer %>
    </footer>

  
</html>