<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/head %>
        <script src="js/pages/index.js"></script>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
            <br>
        <button id="btnNewPost" class="uk-button uk-button-success" onclick="newPost()" data-user="">Create new post</button>
        <br><br>
        </header>
        
            <% posts.reverse().forEach(function(post){%>
            <div class="uk-flex uk-grid">
                <div class="uk-flex-order-first uk-container uk-container-center">
                    <div class="post-main-box">       
                        <article style="max-height: 22vh;" class="uk-comment uk-clearfix ">
                             <div class="post-commenters uk-align-medium-right"></div>
                                <div class="post-avatar-box">
                                     <img  class="uk-comment-avatar post-avatar" src="" alt="IMG">
                                </div>
                            <header class="uk-comment-header  uk-flex uk-flex-column">                            
                                <h3 class="uk-comment-title"><%= post.userName %></h3>
                                <p class="uk-comment-title"><%= post.title %></p>
                                <div  class="uk-comment-body post-text"><%= post.text %></div>
                                 
                            </header>
                        </article>
                        <div class="post-buttons">
                            <h6 style="font-size: 10px;margin:0 0 1vh 2vw;" class="uk-comment-meta">
                                Posted 19 Min ago , <%= post.comments?post.comments.length:'0'%> Comments 
                                </h6>
                            <button class="uk-button uk-button-primary uk-button-small" onclick="newPost('<%= post._id%>')" >Leave a comment</button>
                            <button class="uk-button uk-button-primary uk-button-small" onclick="seeComment('<%= post._id%>')" >See comments</button>
                        </div> 
                    </div>
            </div>
                </div>                             
            <% });%>  

    </body>

    <footer>
        <% include ../partials/footer %>
    </footer>

  
</html>