<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <div class="post-box">
                    <h4 id="user-name">
                        <%= post.user %>
                    </h4>           
                    <div class="post-body">
                        <h3 id="postTitle">
                            <%= post.title %>
                        </h3>
                        <p id="post">
                            <%= post.text %>
                        </p>
                    </div>
                    <h6 id="post-time">
                        <%= post.createdAt %>
                    </h6>
                    <div class="post-comments">
                     
                    </div>
                    <div class="post-footer">
                        <button id="newComment" onclick="btnNewComment()" data-id="<%= post._id%>">Leave a comment</button>
                    </div>
                </div>

        <script src="/js/jquery-3.2.1.min.js"></script>
        <% include ../partials/footer%>
    </body>
</html>