<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <div class="post-box">
                    <h4>
                        <%= post.userName %>
                    </h4>           
                    <div class="post-body">
                        <h3>
                            <%= post.title %>
                        </h3>
                        <p>
                            <%= post.text %>
                        </p>
                    </div>
                    <h6>
                        <%= post.createdAt %>
                    </h6>
                    <div class="post-comments">
                        <ul>
                            <h4>Comments</h4>
                            <% post.comments.forEach(function(comment){%>
                                <li>
                                    <div class="comment-box">
                                        <h4>
                                            <%= comment.userName%>
                                        </h4>
                                        <p><%= comment.text%></p>
                                        <h6><%= comment.createdAt%></h6>
                                    </div>
                                </li>
                            <% });%>                         
                        </ul>
                    </div>
                    <div class="post-footer">
                        <button id="newComment" onclick="btnNewComment()" data-id="<%= post._id%>">Leave a comment</button>
                    </div>
                </div>

        <script src="/js/jquery-3.2.1.min.js"></script>
        <% include ../partials/footer%>
    </body>
</html>