<!DOCTYPE html>

<html>
    <head>
        <% include ../partials/head %>
        <script src="js/pages/post.js"></script>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>

        <div class="post-box">
                    <h4>
                        <%= post.userName %>
                    </h4>           
                    <div class="post-body">
                        <h3>
                            <%= post.title %>
                        </h3>
                        <p>
                            <%= post.text %>
                        </p>
                    </div>
                    <h6>
                        <%= post.createdAt %>
                    </h6>
                    <div class="post-comments">
                        <h4>Comments</h4>
                            <ul>                         
                              <% if(post.comments != null){ post.comments.forEach(function(comment){%>
                                    <li>
                                      <div class="comment-box">
                                        <h4>
                                            <%= comment.userName%>
                                        </h4>
                                        <p><%= comment.text%></p>
                                        <h6><%= comment.createdAt%></h6>
                                        </div>
                                   </li>
                              <% })};%>                         
                           </ul>
                    </div>
                    <div class="post-footer">
                        <button  onclick="newPost('<%= post._id%>')" >Leave a comment</button>
                         <a href="/"><button>Go back</button></a>
                    </div>
                </div>

        <script src="/js/jquery-3.2.1.min.js"></script>
        <% include ../partials/footer%>
    </body>
</html>